<template>
  <div class="w-12 h-12 rounded-full">
    <img :src="src" alt="" class="w-full h-full rounded-full" />
  </div>
</template>
<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
  props: { type: String },
  computed: {
    src() {
      if (this.type == 'user') return require('~/assets/user-avatar.jpg')
      else return require('~/assets/robot-avatar.png')
    },
  },
})
</script>