<template>
  <div class="chat-input-container w-full h-16 px-2">
    <div
      class="
        flex
        content-center
        items-center
        w-full
        h-full
        bg-white
        rounded-lg
        shadow
        px-2
        py-3
      "
    >
      <btn>
        <img width="24px" src="~/assets/icons/paperclip.svg" />
      </btn>
      <chat-input v-model="message" />
      <btn
        @click="sendMessage"
        class="bg-blue-700 text-white rounded-full ml-2 hover:bg-blue-600"
      >
        <img width="24px" src="~/assets/icons/paper-plane.svg"
      /></btn>
    </div>
  </div>
</template>
<script lang="ts">
import { defineComponent, ref } from '@nuxtjs/composition-api'

export default defineComponent({
  methods: {
    sendMessage() {
      this.$emit('sendMessage', this.message)
      this.message = ''
    },
  },
  setup() {
    const message = ref('')
    return { message }
  },
})
</script>
<style>
.chat-input-container {
  position: absolute;
  bottom: 8px;
  left: 0;
}
</style>