<template>
  <input
    type="text"
    name="chat message"
    placeholder="Type something here"
    autocomplete="given-name"
    :value="value"
    @input="$emit('input', $event.target.value)"
    class="
      focus:ring-2 focus:ring-blue-300 focus:outline-none
      block
      w-full
      shadow-sm
      sm:text-sm
      bg-gray-100
      border-gray-300
      rounded-md
      h-full
      px-1
    "
  />
</template>
<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
  props: { value: String },
})
</script>