<template>
  <div class="h-[85%] overflow-auto">
    <chat-message
      v-for="(message, i) in messages"
      :key="i"
      :message="message"
    />
  </div>
</template>
<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
  props: { messages: Array },
})
</script>