<template>
  <div
    :class="[
      'w-full flex space-x-2 mb-2',
      { 'space-x-reverse flex-row-reverse': isUser },
    ]"
  >
    <div class="flex-none"><avatar :type="message.type" /></div>
    <div
      :class="[
        'bg-white rounded-lg p-2 break-words overflow-hidden shadow',
        { 'bg-blue-400 text-white': isUser, 'text-gray-700': !isUser },
      ]"
    >
      {{ message.text }}
    </div>
  </div>
</template>
<script lang="ts">
import { PropType } from '@vue/composition-api'
import Vue from 'vue'
import { Message } from '~/services/message.type'

export default Vue.extend({
  props: { message: Object as PropType<Message> },
  computed: {
    isUser(): boolean {
      return this.message.type == 'user'
    },
  },
})
</script>