<template>
  <div class="max-w-screen-md h-screen mx-auto flex md:p-4">
    <div class="bg-[#f2f6fc] w-full rounded-lg relative p-2">
      <div
        :class="[
          'w-full bg-gray-200 rounded-lg text-center mb-2 text-white',
          stateColor,
        ]"
      >
        status: {{ state.toLowerCase() }}
      </div>
      <chat-messages :messages="messages" />
      <chat-bar @sendMessage="sendMessage" />
    </div>
  </div>
</template>

<script lang="ts">
import { Ref } from '@nuxtjs/composition-api'
import { ref, watch, computed } from '@vue/composition-api'
import Vue from 'vue'
import Avatar from '~/components/avatar.vue'
import Btn from '~/components/btn.vue'
import ChatInput from '~/components/chat-input.vue'
import ChatMessage from '~/components/chat-message.vue'
import { useWebSocket } from '~/services/websocket'
import { Message } from '~/services/message.type'
import { robotMessage, userMessage } from '~/services/message-serializer'
export default Vue.extend({
  components: { Btn, ChatInput, Avatar, ChatMessage },
  setup() {
    const messages: Ref<Array<Message>> = ref([
      robotMessage('Hello'),
      robotMessage('Type restart to restart the connection'),
    ])

    const { data, state, send, restart } = useWebSocket(
      process.env.WS_URL || 'ws://echo.websocket.org'
    )

    /* Triggered when sent / receiving messages by the server */
    watch(data, (message) => {
      messages.value.push(userMessage(message))
      if (message == 'restart') {
        restart()
        messages.value.push(robotMessage(`Successully restarted!`))
      } else messages.value.push(robotMessage(`${message} recieved!`))
    })

    const sendMessage = (message: string) => send(message)
    const stateColor = computed(() => {
      if (state.value == 'OPEN') return 'bg-green-500'
      else return 'bg-red-500'
    })

    return { state, messages, sendMessage, stateColor }
  },
})
</script>

<style>
</style>